@page
@model CreditsModel
@{
    ViewData["Title"] = "Credits";
}
<h1>@ViewData["Title"]</h1>

<p>This project was made by <a href="https://github.com/MauricioDolacio">Mauricio Dolacio</a>.</p>
