@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="text-center">
    <h1 class="display-4">StudentCrud</h1>
    <p>This is a simple CRUD project for study purposes.</p>
</div>
